<app-categories class="buttons" (selectedCategory)="SelectCategory($event)"></app-categories>

<p>
    {{notificationMessage}}
</p>
<div *ngFor="let announcement of shownAnnouncements" class="app-container" >
<app-announcment 
(changeDeteced) = "DetectChange($event)"
(changeDeteced) = "DetectChange($event)"
[author]="announcement.author" 
[message]="announcement.message" 
[title]="announcement.title"
[id]="announcement.id"
[imageURL]="announcement.imageURL"></app-announcment>
</div>
<!-- <app-add-announcement class="form" (newAnnouncement)="CreateAnnouncement($event)"></app-add-announcement> -->